
=render 'nav'

.alert.alert-success.fade.in.text-center.hidden
  %button.close{"data-dismiss" => "alert", type: "button"}=raw "&times;"
  %span

.panel.panel-info
  .panel-body
    #order-ddl.dropdown
      %button.btn.btn-default.dropdown-toggle#order-ddl-btn{'type' => 'button', 'data-toggle' => 'dropdown'}
        %i.fa.fa-coffee
        %span= 'Make a Order'
        %span.caret
      %ul.dropdown-menu#order-ddl-menu{'aria-labelledby' => 'order-ddl-btn', 'data-url' => orders_path}
        - Item.all.find_each do |item|
          %li
            %a.menu-item{:href => 'javascript:void(0);', 'data-id' => item.id}= "#{item.drink.name.humanize} - #{item.cup_size.humanize}"

.panel.panel-primary
  .panel-heading
    %i.fa.fa-list-alt
    %span Order Listing
    %span.loading-icon
      =image_tag "ajax-loader.gif"
    %i.fa.fa-refresh.pull-right#refresh-list{data: {toggle: 'popover', trigger: 'hover', placement: 'top', content: "Refresh"}}
  .panel-body
    .row
      .col-xs-4
        %h4
          %span Total Sales:
          %span#total-sales -
      .col-xs-4
        #type-ddl.dropdown
          %button.btn.btn-default.dropdown-toggle#type-ddl-btn{'type' => 'button', 'data-toggle' => 'dropdown'}
            %i.fa.fa-database
            %span#type-text= 'Group by Type'
            %span.caret
          %ul.dropdown-menu#type-ddl-menu{'aria-labelledby' => 'type-ddl-btn'}
            - ['All', 'Coffee', 'Tea'].each do |i|
              %li
                %a.menu-item{:href => 'javascript:void(0);'}= i
      .col-xs-4
        #cup-ddl.dropdown
          %button.btn.btn-default.dropdown-toggle#cup-ddl-btn{'type' => 'button', 'data-toggle' => 'dropdown'}
            %i.fa.fa-database
            %span#size-text= 'Group by Cup'
            %span.caret
          %ul.dropdown-menu#size-ddl-menu{'aria-labelledby' => 'cup-ddl-btn'}
            - ['All', 'Tall', 'Grande', 'Venti'].each do |i|
              %li
                %a.menu-item{:href => 'javascript:void(0);'}= i
    #order-data{data: { url: listing_orders_path }}
