%table.table.table-striped
  %tr
    %th Name
    %th Drink Type
    %th Cup Size
    %th Price
    %th Order Time
  - if !@orders.blank?
    - @orders.each do |order|
      %tr
        %td= order.item.drink.name.humanize
        %td= order.item.drink.drink_type.humanize
        %td= order.item.cup_size.humanize
        %td= format_price order.item.price
        %td= order.created_at.strftime('%d %b %Y %H:%M:%S')
  - else
    %tr
      %td.text-center{colspan: "6"} No Result
- if !@orders.blank?
  = paginate @orders

:javascript
  $('#total-sales').text('#{format_price(@total_sales)}');
